    <!-- <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Emotly</span>
          <p style="color: #777" class="navbar-text" id="navbartext">In Development</p>
        </div>
        <div class="nav navbar navbar-right">
          <button type="button" name="button" class="btn btn-default btn-xs">New Emotly</button>


        </div>
      </div>
    </nav> -->


    <!-- Use the following if a collapsable navbar is needed. -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="emotlybrand"><span class="glyphicon glyphicon-heart"></span>&nbsp;EMOTLY</a>
          <p style="color: #888" class="navbar-text" id="navbrandtext"></p>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <!-- <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email or nickname" class="form-control" disabled>
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" disabled>
            </div>
            <button type="submit" class="btn btn-success" disabled><span class="glyphicon glyphicon-lock"></span>&nbsp;Sign in is disabled</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="liLogin"><a href="#" id="alogin" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span>&nbsp;Login</a></li>
            <li class="liLogout"><a href="#" id="anewemotly" data-toggle="modal" data-target="#newEmotlyModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Emotly</a></li>
            <li class="liLogout"><a href="#" id="alogout"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
