{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Your life, your emotions</h1>
        <p>Emotly is a service to share your feelings and your emotions.</p>
        <p>
          <a class="btn btn-primary btn-lg" href="/signup" role="button"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Sign up</a>
          <a class="btn btn-info btn-lg" href="/static/app/pwa#showLogin" role="button"><span class="glyphicon glyphicon-user"></span>&nbsp;Log in</a>
        </p>
      </div>
    </div>

    <!-- Uncomment for the list of emotlies. -->
      <!-- <div class="container">
          <ul class="list-group" id="ulemotlies">
          </ul>
      </div> -->

{% endblock %}
