{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1>Your life, your emotions</h1>
        <p>This is Emotly, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque felis eget nunc mollis, a egestas dui vestibulum. Etiam convallis felis turpis, et interdum tortor convallis in.</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button"><span class="glyphicon glyphicon-heart-empty"></span>&nbsp;Sign up</a></p>
      </div>
    </div>

    <!-- Uncomment for the list of emotlies. -->
      <!-- <div class="container">
          <ul class="list-group" id="ulemotlies">
          </ul>
      </div> -->

{% endblock %}
